<!DOCTYPE html>
<html>
    <body>
        <section class="hero is-info is-fullheight">
            <div class="hero-head">
                <%= render 'header' %>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <% unless user_signed_in? %>
                            <h1 class="title" style="color: white;">
                                AnbyNotes
                            </h1>
                            <h2 class="subtitle" style="color: white;">
                                Simple Copywriter App Challenge: Comprehensive Brief for Intern Software Engineer. Basically Grammarly at home. Please Log in or Sign up.
                            </h2>
                        <% else %>
                            <article class="panel is-success" style="background-color: white;">
                                <p class="panel-heading" style="color: white;"> 
                                    AnbyNotes
                                </p>
                                <div class="panel-block is-flex is-justify-content-space-between is-align-items-center">
                                    <span>See your previous sessions below</span>
                                    <a class="button is-info" href="<%= new_post_path %>" style="color: white;">
                                        New Session
                                    </a>
                                </div>

                                <!--
                                <div class="panel-block">
                                    <p class="control has-icons-left">
                                    <input class="input is-success" type="text" placeholder="Search" />
                                    <span class="icon is-left">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                    </p>
                                </div>
                                -->
                                <% @posts.each do |post| %>
                                    <a class="panel-block" href="<%= edit_post_path(post) %>">
                                        <span class="panel-icon">
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                        </span>
                                        <%= post.title %>
                                    </a>
                                <% end %>
                            </article>
                        <% end %>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
